<h1><%= @post.title %></h1>
<p>Categories: <%= @post.category_list %></p>
<p><%= @post.content %></p>

<% if @post.comment_count > 0 %>
  <h2><%= pluralize(@post.comment_count, "Comment") %></h2>
    <% @post.users do |user| %>
      <h3><%= link_to user.username, user_path(user) %></h3>
        <ul>
          <% user.comments.each do |comment| %>
            <li><%= comment.content %></li>
          <% end %>
        </ul>
    <% end %>
<% end %>

<h2>Make a comment</h2>
<%= render 'comments/form' %>
